body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info {
    background-color: blue;
    border-radius: 15px;
}

.message-success {
    background-color: green;
}

.message-warning {
    background-color: yellow;
}

.message-error {
    background-color: red;
}